.navbar-brand:hover {
    color: darkorange;
}

.navbar-dark .navbar-nav .nav-link  {
    color: white;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover  {
    color: darkorange;
}
