<img [src]="url" height="200"> <br/>

<input
    style="display: none"
    #fileInput
    type="file" (change)="onFileSelected($event)" >
<button type="button" (click)="fileInput.click()">Pick File</button>
<button type="button" (click)="onUpload()">Upload</button>

<mat-card-content class="container">
    <form>
        <div class="d-flex flex-row">
            <button class="btn" type="submit" mat-raised-button color="primary">
                Изменить
            </button>
            <button class="btn bg-danger ml-1" type="button" mat-raised-button color="primary" [routerLink]="[ '/admin/pizza-list' ]">
                Отменить
            </button>
        </div>
    </form>
</mat-card-content>

