<div class="container-fluid h-100">
    <div class="d-flex justify-content-center h-100 align-items-center row">
        <mat-card class="col-9 col-md-6 col-lg-5">
            <mat-card-title class="text-center">Авторизация</mat-card-title>
            <mat-card-content>
                <form #f="ngForm" class="d-flex flex-column" [formGroup]="form" (ngSubmit)="signIn()">
                    <mat-error *ngIf="form.getError('invalidLogin')">Неверное имя пользователя или пароль</mat-error>
                    <mat-form-field appearance="fill">
                        <mat-label>Имя пользователя</mat-label>
                        <input matInput type="text" placeholder="Имя пользователя" formControlName="username" required>
                        <mat-error *ngIf="hasError('username', 'required')">Имя пользователя не заполнено</mat-error>
                        <mat-error *ngIf="hasError('username', 'minlength')">Имя пользователя не менее 5 символов</mat-error>
                        <mat-error *ngIf="hasError('username', 'maxlength')">Имя пользователя не более 25 символов</mat-error>
                        <mat-error *ngIf="hasError('username', 'pattern')">Неверное имя пользоветля</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Пароль</mat-label>
                        <input matInput type="password" placeholder="Пароль" formControlName="password" required>
                        <mat-error *ngIf="hasError('password', 'required')">Пароль не заполнен</mat-error>
                        <mat-error *ngIf="hasError('password', 'minlength')">Пароль не менее 8 символов</mat-error>
                        <mat-error *ngIf="hasError('password', 'pattern')">Ваш пароль должен содержать как минимум одна букву и одну цифру</mat-error>
                    </mat-form-field>
                    <button [disabled]="loading" type="submit" mat-raised-button color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
                        Войти
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
